@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-comfortaa);
  --font-mono: var(--font-comfortaa);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px rgba(50,50,62,0.3) inset !important;
  box-shadow: 0 0 0 1000px rgba(50,50,62,0.3) inset !important;
  -webkit-text-fill-color: white !important;
  transition: background-color 5000s ease-in-out 0s;
}

textarea:focus, input:focus{
    outline: none;
}

@layer utilities {
  @keyframes subtle-bounce {

    0%,
    100% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-12px);
    }
  }

  @keyframes grow-subtle {

    0%,
    100% {
      transform: scale(1);
    }

    50% {
      transform: scale(1.04);
    }
  }

  .animate-subtle-bounce {
    animation: subtle-bounce 2s ease-in-out infinite;
  }

  .animate-grow-subtle {
    animation: grow-subtle 4s ease-in-out infinite;
  }
}

html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.bg-glass {
  background-color: rgba(11, 11, 14, 0.5);
  backdrop-filter: blur(8px);
}

.bg-glass2 {
  background-color: rgba(11, 11, 14, 0.85);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}

.rounded-asym {
  border-top-left-radius: 5rem;
  border-top-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 5rem;
}

.rounded-asym2 {
  border-radius: 0;
}

@media screen and (min-width: 768px) {
  .rounded-asym2 {
    border-top-left-radius: 5rem;
    border-top-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 5rem;
  }
}

.swiper-pagination-bullet {
  background-color: #c4c8ee !important;
  opacity: 0.6;
}

.swiper-button-prev {
  left: 10% !important;
  transition-duration: 150ms;
}

.swiper-button-next {
  right: 10% !important;
  transition-duration: 150ms;
}

.swiper-button-prev:hover {
  transform: scale(1.25);
}

.swiper-button-prev:active {
  transform: scale(0.9);
}

.swiper-button-next:hover {
  transform: scale(1.25);
}

.swiper-button-next:active {
  transform: scale(0.9);
}

@media (max-width: 1280px) {
  .swiper-button-prev {
    left: 4.5% !important;
  }

  .swiper-button-next {
    right: 4.5% !important;
  }
}
