* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    overscroll-behavior: none;
    scroll-behavior: smooth;
    scroll-snap-type: y proximity;
}

html {
    font-family: 'Comfortaa', sans-serif;
}

body {
    background-color: #1a2224;
}

a {
    text-decoration: none;
    color: rgb(230, 240, 255);
}

a:focus,
a:active {
    background-color: transparent;
}

a {
    -webkit-tap-highlight-color: transparent;
}

header {
    background: linear-gradient(to top, rgba(2, 4, 5, 0), rgba(2, 4, 5, 1));
    backdrop-filter: blur(20px);
    position: fixed;
    height: 5rem;
    width: 60%;
    margin: auto 20%;
    display: flex;
    border-bottom-right-radius: 3.5rem;
    border-bottom-left-radius: 3.5rem;
    justify-content: center;
    align-items: center;
    z-index: 6;
    opacity: 1;
    border-bottom: 2px solid rgba(61, 74, 89, 0.65);
}

/* Nav */

#navbar {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    font-size: 0rem;
    opacity: 0;
    transition: opacity 2.5s, font-size 1.5s;
    
}

nav a {
    display: inline-block;
    transform-origin: center;
    
}

nav a:hover {
    color: rgba(55, 210, 230, 0.864);
    transform: scale(1.25);
    transition-duration: 150ms;
}

nav a:active {
    color: rgba(38, 142, 168, 0.811);
    transform: scale(0.85);
    transition-duration: 150ms;
}

/* À-propos section */
#a-propos {
    scroll-snap-align: start;
    display: flex;
    min-height: 100vh;
    width: 100%;
    opacity: 0;
    background: #000000;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #1a2224, #000000);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #1a2224, #000000);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    transition: opacity 1.5s;
    border-bottom: 2px solid rgba(61, 74, 89, 0.65);
}

.présentation {
    width: 100%;
    height: 100vh;
    transition: width 1.25s;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
    font-size: calc(1rem + 1vw);
    padding-top: 100px;
}

#Hi {
    max-width: 80%;
    line-height: 4rem;
    transition: font-size 1.5s;
    text-align: center;
    backdrop-filter: blur(10px);
    margin: 0px auto 12rem;
    font-size: 0rem;
    color: transparent;
    background: linear-gradient(to right, rgb(88, 201, 143) 10%, rgb(234, 240, 246) 50%, rgb(91, 109, 196));
    -webkit-background-clip: text;
    animation: growPulse 4s ease-in-out infinite;
    overflow: hidden;
}

@keyframes growPulse {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }
}

.présentation h1,
.présentation h2 {
    font-weight: 300;
}

.first-arrow {
    position: absolute;
    top: calc(100vh - 9rem);
    display: flex;
    justify-content: center;
    width: 100%;
    animation: bounce 2s infinite;
    background-color: transparent;
}

.down-arrows {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 3rem auto 0px;
    animation: bounce 2s infinite;
}

.up-arrows {
    background-color: transparent;
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0px auto 3rem;
    animation: bounce 2s infinite;
}

.arrow-img {
    opacity: 0;
    width: 0%;
    filter: invert(0.95);
    transition: width 1.5s, opacity 2.5s;
    animation: growPulse 4s ease-in-out infinite;
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(8px);
    }
}

/* Skills section */

#skills {
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding-top: 6rem;
    padding-bottom: 3rem;
    background-color: #1a2224;
    opacity: 0;
    transition: opacity 1.5s;
    border-bottom: 2px solid rgba(61, 74, 89, 0.65);
}

#skills h2 {
    color: rgb(200, 220, 240);
    z-index: 3;
    text-align: center;
    font-size: calc(2rem + 1vw);
    padding-bottom: 30px;
}

.images-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    z-index: 3;
    padding: 0px 5%;
}

.images {
    width: 16rem;
    padding: 3rem 3rem;
    filter: drop-shadow(4px 4px 4px rgb(18, 18, 18));
    z-index: 4;
    transform: scale(0.5);
    transition: transform 2s;
}

/* Projects section */

#projects {
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 100%;
    width: 100%;
    z-index: 1;
    padding-top: 6rem;
    padding-bottom: 3rem;
    background: #000000;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #1a2224, #000000);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #1a2224, #000000);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    opacity: 0;
    transition: opacity 1.5s;
    border-bottom: 2px solid rgba(61, 74, 89, 0.65);
}

#projects h2 {
    color: white;
    z-index: 3;
    text-align: center;
    font-size: calc(2rem + 1vw);
    padding-bottom: 5rem;
}

.project-container {
    overflow: hidden;
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 7rem;
    padding: 15px;
    border-radius: 1rem;
    box-shadow: 0px 0px 15px 2px rgb(118, 117, 150);
    transform: scale(0.5);
    transition: box-shadow 125ms, transform 1.5s;
}

.projects-text {
    width: 50%;
}

#projects-b {
    flex-direction: row-reverse;
}

.project-container h3,
.project-container p {
    color: white;
    text-align: center;
    padding-top: 1.75rem;
}

.project-container h3 {
    font-size: 2.5rem;
    animation: growPulse 4s ease infinite;
    ;
}

.project-container p {
    font-size: 1.5rem;
    font-weight: 100;
    line-height: 2.25rem;
    width: 90%;
    margin: 0px 5%;
}

.project-container img {
    width: 50%;
    border-radius: 2rem;
}

@media (hover: hover) {
    .project-container:hover {
        cursor: pointer;
        box-shadow: 0px 0px 25px 4px rgb(118, 117, 150);
        ;
    }
}

.project-container:active {
    box-shadow: 0px 0px 7px 2px rgb(118, 117, 150);
    ;
    transform: scale(0.9);
}

/* Contact section */

#contact {
    background-color: black;
    color: rgb(200, 235, 240);
    scroll-snap-align: start;
    opacity: 0;
    transition: opacity 1.5s;
    display: flex;
    flex-direction: column;
}

.coordonées {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#contact-arrow {
    margin: 1.5rem 0px;
}

#contact h2 {
    text-align: center;
    font-size: calc(2rem + 1vw);
    padding: 30px 0px;
}

#contact p {
    font-size: 2rem;
    color: rgb(200, 235, 240);
    padding: 30px;
}

.mail-link {
    color: white;
    text-decoration: underline;
    background-color: rgb(8, 25, 22);
    border-radius: 8px;
    padding: 10px;
}

@media (hover: hover) {
    .mail-link:hover {
        font-size: 2rem;
        transition-duration: 100ms;
        box-shadow: 2px 4px 10px #020216;
        color: rgba(55, 210, 230, 0.864);
        padding: 20px;
        border-radius: 16px;
    }
}

.mail-link:active {
    font-size: 1.8rem;
    color: rgba(38, 142, 168, 0.811);
    padding: 10px;
}

/* Media queries */

@media only screen and (max-width: 950px) {
    header {
        width: 90%;
        margin: auto 5%;
    }

    #projects-a,
    #projects-b {
        flex-direction: column;
    }

    .project-container {
        padding: 15px 0px;
        box-shadow: 0px 0px 8px 2px rgb(118, 117, 150);
    }

    .project-container,
    .project-container img,
    .projects-text {
        width: 100%;
        border-radius: 0px;
    }
}

@media only screen and (max-width: 450px) {
    html {
        font-size: 10px;
    }

    #navbar {
        width: 85%;
    }

    #Hi {
        margin-bottom: 14rem;
    }
}