* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
    scroll-snap-type: y proximity;
    scroll-padding-top: 4rem;
}

html {
    font-family: 'Parkinsans', sans-serif;
}

body {
    background-color: black;
}

a {
    text-decoration: none;
    color: rgb(230, 240, 255);
}

header {
    background: linear-gradient(to top, rgba(2, 4, 5, 0), rgba(2, 4, 5, 1));
    backdrop-filter: blur(20px);
    position: fixed;
    height: 5rem;
    width: 60%;
    margin: auto 20%;
    display: flex;
    border-bottom-right-radius: 3.5rem;
    border-bottom-left-radius: 3.5rem;
    justify-content: center;
    align-items: center;
    z-index: 6;
    opacity: 1;
    border-bottom: 2px solid rgba(61, 74, 89, 0.65);
}

header h2 a {
    display: block;
    padding-left: 5vw;
    font-size: 2rem;
    color: rgba(230, 240, 255, 1);
    opacity: 0;
    transition: opacity 2.5s;
    font-weight: 400;
}

@media (hover: hover) {
    header h2 a:hover {
        color: rgba(55, 210, 230, 0.864);
        font-size: 2.2rem;
        transition-duration: 150ms;
        padding-left: 4.5vw;
    }
}

header h2 a:active {
    color: rgba(38, 142, 168, 0.811);
    font-size: 2.05rem;
    padding-left: 5vw;
}

/* Nav */

nav {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    opacity: 0;
    transition: opacity 2.5s;
}

nav a {
    font-size: 1.5rem;
    display: inline-block;
    transform-origin: center;
}

nav a:hover {
    color: rgba(55, 210, 230, 0.864);
    transform: scale(1.25);
    transition-duration: 150ms;
}

nav a:active {
    color: rgba(38, 142, 168, 0.811);
    transform: scale(0.85);
    transition-duration: 150ms;
}

/* À-propos section */
#a-propos {
    scroll-snap-align: start;
    display: flex;
    padding-top: 4rem;
    min-height: 100vh;
    width: 100%;
    opacity: 0;
    background: #000000;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #1a2224, #000000);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #1a2224, #000000);
    transition: opacity 1.5s;
}

.présentation {
    width: 100%;
    transition: width 1.25s;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
    font-size: calc(1rem + 1vw);
    padding-top: 100px;
}

#Hi {
    width: 100%;
    transition: font-size 1.5s;
    text-align: center;
    backdrop-filter: blur(10px);
    padding: 0px 50px;
    margin-bottom: 12rem;
    font-size: 0rem;
      color: transparent;
    background: linear-gradient(to right, rgb(88, 201, 143), rgb(234, 240, 246) 50%, rgb(37, 59, 171));
     -webkit-background-clip: text;
}

.présentation h1,
.présentation h2 {
    font-weight: 300;
}

#down-arrow {
    font-size: 5rem;
    position: absolute;
    color: transparent;
    background: linear-gradient(to right, rgb(218, 225, 231) 30%, rgb(69, 89, 189));
     -webkit-background-clip: text;
    top: 83vh;
    left: 50%;
    transform: translateX(-50%);
    transition-duration: 100ms;
    opacity: 0;
    transition: opacity 3s;
    transform-origin: left;
}

#down-arrow:hover {
    transform: scale(1.15) translateX(-50%);;
}

/* Compétences section */

#compétences {
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    z-index: 2;
    padding-top: 50px;
    background-color: #1a2224;
    padding-bottom: 50px;
}

#compétences h2 {
    color: rgb(200, 220, 240);
    z-index: 3;
    text-align: center;
    font-size: calc(2rem + 1vw);
    padding-bottom: 30px;
}

.images-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    z-index: 3;
    padding: 0px 5%;
}

.images {
    width: 16rem;
    padding: 3rem 3rem;
    filter: drop-shadow(4px 4px 4px);
    z-index: 4;
}

/* Projets section */

#projets {
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 100%;
    z-index: 1;
    padding-top: 50px;
    padding-bottom: 50px;
    background: #000000;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #1a2224, #000000);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #1a2224, #000000);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#projets h2 {
    color: white;
    z-index: 3;
    text-align: center;
    font-size: calc(2rem + 1vw);
    padding-bottom: 30px;
}

.projets-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    z-index: 2;
}

.images2 h3,
.images2 p {
    color: white;
    text-align: center;
    padding-top: 25px;
}

.images2 h3 {
    font-size: 2rem;
}

.images2 {
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 1px solid white;
    padding: 15px;
    margin: 30px 30px 50px;
    border-radius: 1rem;
}

.images2 img {
    width: 100%;
}

@media (hover: hover) {
    .images2:hover {
        width: 420px;
        height: 420px;
        margin: 20px 20px 40px;
        transition-duration: 100ms;
        cursor: pointer;
        box-shadow: 2px 4px 25px rgb(115, 113, 173);
        ;
    }
}

/* Contact section */

#contact {
    background-color: black;
    color: rgb(200, 235, 240);
    scroll-snap-align: start;
}

.coordonées {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#contact h2 {
    text-align: center;
    font-size: calc(2rem + 1vw);
    padding: 30px 0px;
}

#contact p {
    font-size: 2rem;
    color: rgb(200, 235, 240);
    padding: 30px;
}

#contact a {
    color: white;
    text-decoration: underline;
    background-color: rgb(8, 25, 22);
    border-radius: 8px;
    padding: 10px;
}

@media (hover: hover) {
    #contact a:hover {
        font-size: 2rem;
        transition-duration: 100ms;
        box-shadow: 2px 4px 10px #020216;
        color: rgba(55, 210, 230, 0.864);
        padding: 20px;
        border-radius: 16px;
    }
}

#contact a:active {
    font-size: 1.8rem;
    color: rgba(38, 142, 168, 0.811);
    padding: 10px;
}

/* Media queries */

@media only screen and (max-width: 950px) {
    header {
    width: 90%;
    margin: auto 5%;
    }

}

@media only screen and (max-width: 450px) {
    html {
        font-size: 10px;
    }

    nav {
        width: 80%;
    }

    #Hi {
        margin-bottom: 15rem;
    }

    .images2 {
        width: 350px;
        height: 350px;
    }

    .images2:active {
        width: 330px;
        height: 330px;
    }

    .images2 h3,
    .images2 p {
        padding: 0px;
    }
}

@media only screen and (max-width: 400px) {

    .images2 {
        height: 320px;
        width: 280px;
        margin: 30px 0px 50px 0px;
    }

    .images2 h3 {
        font-size: 1.6rem;
    }
}